<% img_url = "http://localhost:3000/assets/images/" %>
<% img_ext = ".png" %>
<% rock_url = "http://localhost:3000/rock" %>
<% paper_url = "http://localhost:3000/paper" %>
<% scissors_url = "http://localhost:3000/scissors" %>

<div class="container">
  <div class="row margin-above-top-md">
    <div class="col-md-offset-2 col-md-8">
      <div class="btn-group btn-group-lg btn-group-justified">
        <a class="<%= "btn btn-primary" + if @user_move=="rock" then " active" else "" end %>" href="<%= rock_url %>">
          Play Rock
        </a>
        <a class="<%= "btn btn-primary" + if @user_move=="paper" then " active" else "" end %>" href="<%= paper_url %>">
          Play Paper
        </a>
        <a class="<%= "btn btn-primary" + if @user_move=="scissors" then " active" else "" end %>" href="<%= scissors_url %>">
          Play Scissors
        </a>
      </div>
    </div>
  </div>

  <div class="row margin-above-top-md">
    <div class="col-md-offset-2 col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="text-center panel-title"> You Played: <%= @user_move.capitalize %> </h2>
        </div>
        <img class="center-block" src="<%= img_url + @user_move + img_ext  %>" width="300">  </img>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="text-center panel-title"> Computer Played: <%= @computer_move.capitalize %> </h2>
        </div>
        <img class="center-block" src="<%= img_url + @computer_move + img_ext  %>" width="300"></img>
      </div>
    </div>
  </div>

  <div class="row margin-above-top-md">
    <div class="col-md-offset-4 col-md-4">
      <h1 class="<%= "text-center" + @header_class %>" > You <%= @result %>! </h1>
    </div>
  </div>

</div>
